.circlebase {
	z-index: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circlecontainer {
	margin: 50px;
	width: 400px;
	height: 400px;
	background-color: rgb(8, 44, 85);
}

.outercircle {
	width: 350px;
	height: 350px;
	background-color: rgb(0, 119, 255);
}
.innercircle {
	width: 300px;
	height: 300px;
	background-color: aqua;
}
.innercircletext {
	position: absolute;
	justify-content: center;
	text-align: center;
	font-size: 26px;
}
.innercircle[animation="0"] {
	animation: pulsate 15s ease-in-out infinite both;
}
.innercircle[animation="1"] {
	animation: boingoing 1s ease-in-out both;
}

@keyframes pulsate {
	0% {
		transform: scale(0.5);
	}
	30% {
		transform: scale(1);
	}
	55% {
		transform: scale(1);
	}
	85% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(0.5);
	}
}

@keyframes boingoing {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

button{
	font-size: 26px;
	width:500px;
}